/* Responsividade para dispositivos móveis (largura mínima de 400px e máxima de 1080px) */
@media (max-width: 1080px) {
    .login-container {
        margin: 20px auto;
        width: 90%;
        box-shadow: none;
        margin-left: -30px;
        margin-top: 90px;
    }

    .contato {
        width: 90%;
        margin: 20px auto;
        margin-top: 80px;
    }

    .img1 {
        width: 50px;
    }

    .img2 {
        margin-left: 70px;
        width: 100px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 20px;
    }

    .text {
        font-size: 16px;
    }

    label,
    input {
        font-size: 14px;
    }

    .btn1 {
        padding: 10px;
        font-size: 16px;
    }
}

/* Responsividade para dispositivos desktop (largura mínima de 1360px e máxima de 2440px) */
@media (min-width: 1360px) and (max-width: 2440px) {
    .login-container {
        margin: 20px auto;
        width: 50%;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
    }

    .contato {
        width: 50%;
        margin: 20px auto;
        margin-top: 20px;
    }

    .img1 {
        width: 70px;
    }

    .img2 {
        margin-left: 125px;
        width: 150px;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 24px;
    }

    .text {
        font-size: 18px;
    }

    label,
    input {
        font-size: 16px;
    }

    .btn1 {
        padding: 15px;
        font-size: 18px;
    }
}