
h1 {
  padding: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: red;
  margin-top: -280px;
  margin-left: 150px;
}

span {
  display: block;
  padding: 10px;
  margin: 10px;

}

img{width: 110px;
  height: 110px;
  border-radius: 70px;
}

.image-container {
    margin-left: -180px;
  position: relative;
  display: inline-block;

}


.edit-icon {
  position: absolute;
  bottom: 2px;
  right: 30px;
  cursor: pointer;
  border-radius: 50%;
  padding:6px;
  opacity: 0.6;
  
}