#vagas {
  text-align: center;
  padding: 20px;
  border-radius: 12px;
  width: 950px;
  max-width: 950px;
  background-color: #112C6D;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-top: 4px solid #EB571D;
  border-bottom: 4px solid #EB571D;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 200px;

}

#vagas h1 {
  font-size: 2.2rem;
  color: #EB571D;
  margin-bottom: 20px;

}

.plane {
  margin-bottom: 20px;
  padding: 35px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #EB571D;
}


.select {
  height: 200px;
  position: relative;
  overflow: hidden;
  text-align: center;
  margin-top: -15px;
}

.select h1 {
  text-align: center;
  margin-top: 40px;
  margin-left: 100px;
  border-radius: 10px;
  width: 70%;
  padding: 30px;
  background-color: #112C6D;
  color: #ecb4b4;
  border: 1px solid #EB571D;
}

.exit:before {
  left: 10px;
}

.exit:after {
  right: 10px;
}

ol {
  list-style: none;
  padding: 0px;
  width: 90%;
  margin-left: 20px;

}

.seats {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  font-size: 10px;
  height: 60px;

}


.seat {
  border: 4px solid #dfc1c1;
  display: flex;
  flex: 0 0 14%;
  padding: 4px;
}

#seat2 label {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: bolder;
  line-height: 1.5rem;
  padding: 4px 0;
  background: #d2e711;
  border-radius: 5px;
  color: #112C6D;
  height: 80%;
}

#seat1 label {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: bolder;
  line-height: 1.5rem;
  padding: 4px 0;
  background: #dd2121;
  border-radius: 5px;
  color: #112C6D;
  height: 80%;
}

.seat label {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: bolder;
  line-height: 1.5rem;
  padding: 4px 0;
  background: #5bfc60;
  border-radius: 5px;
  color: #112C6D;
  height: 80%;
}

.seat label:hover {
  cursor: pointer;
  box-shadow: 0 0 0px 2px #EB571D;
}

.seat:nth-child(3) {
  margin-right: 14%;
}

.seat input[type=checkbox] {
  position: absolute;
  right: 30px;
  opacity: 1%;
}

.seat input[type=checkbox]:checked+label {
  background: #808080;
}


.btn {
  display: inline-block;
  margin-left: 10px;
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 4px;
  background-color: #EB571D;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #C84918;
}


#alerta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to bottom, transparent, #24347e);
  padding: 30px;
  border-top: 4px solid #EB571D;
  border-right: 4px solid #EB571D;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* #alerta button {
  margin-left: 30px;
  margin-right: 20px;
  gap: 5px;
  border: 1px solid #C84918;
  background-color: #C84918;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
}

#alerta button:hover {
  background-color: #da622f;
} */





.stat {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #EB571D;
  text-align: left;
  display: inline-block;
  vertical-align: top;
  width: calc(50% - 20px);
}

.stat h3 {
  font-size: 1.4rem;
  color: #EB571D;
  margin-bottom: 10px;
  margin: auto;
  text-align: center;

}

.stat p {
  font-size: 1rem;
  color: #FFFFFF;
}

.stat canvas {
  max-width: 100%;
  border-radius: 8px;
}

#estacionamentos-populares {
  list-style-type: none;
  padding: 0;
}

#estacionamentos-populares li {
  padding: 5px 0;
  border-bottom: 1px solid #EB571D;
}

#estacionamentos-populares li:last-child {
  border-bottom: none;
}

#tempo-medio,
#taxa-ocupacao,
#picos-ocupacao {
  width: 100%;
  height: 300px;
}

.num3 {
  display: flex;
  margin-top: -30px;
  margin-right: 70px;
  font-size: 15px;
}

.num2 {
  font-size: 15px;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-left: 20px;
  margin-top: -15px;
  margin-bottom: 16px;
}

.num1 {
  padding: 1px;
  flex-direction: column;
  display: flex;
  letter-spacing: 1px;
  margin-top: -10px;
}