.container {
  margin: 0 0px -13% -50%;
  margin-left: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Para centralizar verticalmente na tela */
}

.charts-container {
  display: flex;
  gap: 20px;
  /* Espaço entre os gráficos */
}