.pagamentos {
    text-align: center;
    padding: 20px;
    border-radius: 12px;
    max-width: 900px;
    background-color: #112C6D;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-top: 4px solid #EB571D;
    border-bottom: 4px solid #EB571D;
    margin-bottom: 60px;
    margin-top: 10px;
    margin-left: 200px;


}

/* Título */
#titulo-pagamentos {
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 25px;
    color: #EB571D;
}

/* Filtro de Pagamentos */
.filtro-pagamentos {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.data-filtro-pagamento {
    display: flex;
    padding: 1px;
    border: 1px solid #cce7ff;
    border-radius: 3px;
    font-size: 1rem;
    color: #333;
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 660px;

}

.filtrar-pagamentos {
    display: block;
    margin-top: -32px;
    margin-left: -660px;
    text-align: left;
    padding: 6px 10px;
    font-size: 15px;
    border-radius: 4px;
    background-color: #EB571D;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filtrar-pagamentos:hover {
    background-color: #C84918;
}


table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #EB571D;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #EB571D;
    color: #fff;
    font-size: 1.1rem;
}

th,
td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.1);
}

tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.05);
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

td {
    font-size: 1rem;
    color: #FFFFFF;
}


.card2 {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #EB571D;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 20px);
}

/* Seção de Receitas de Estacionamentos */
.receitas-estacionamento {
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid #EB571D;
}

.filtro-receitas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
    font-size: 12px;
}



.data-estacionamento {
    margin-top: -40px;
    padding: 1px;
    border: 1px solid #cce7ff;
    border-radius: 3px;
    font-size: 0.8rem;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 133px;
    /* Espaçamento entre os itens */
}

#date {
    margin-top: -5px;
    margin-left: -40px;
    font-size: 0.8rem;
}


.btn8 {
    display: block;
    margin-top: -33px;
    margin-left: -130px;
    text-align: left;
    padding: 6px 10px;
    font-size: 11px;
    border-radius: 4px;
    background-color: #EB571D;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn8:hover {
    background-color: #C84918;
}

/* Gráficos de Receitas */
.grafico-container {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid #EB571D;
}

.grafico-placeholder {
    height: 200px;
    /* Altura do gráfico */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 1.2rem;
}


/* Ajuste para dispositivos pequenos */
@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        /* Altera a direção para coluna em telas pequenas */
    }
}

/* Resumo de Pagamentos */
#resumo-pagamentos {
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid #EB571D;
}

#resumo-pagamentos h2 {
    font-size: 1.8rem;
    color: #FFFFFF;
}

#lista-resumo-pagamentos {
    list-style: none;
    padding: 0;
    font-size: 1.2rem;
    color: #EB571D;
}

/* Gráficos de Pagamentos */
.grafico-container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid #EB571D;
}

.grafico-container h3 {
    margin-bottom: 10px;
    color: #FFFFFF;
}

.grafico-container p {
    color: #FFFFFF;
    font-size: 1.1rem;
}

.button-group3 {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.btn3 {
    display: inline-block;
    margin-left: 10px;
    padding: 12px 10px;
    font-size: 12px;
    border-radius: 4px;
    background-color: #EB571D;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn3:hover {
    background-color: #C84918;
}